{% extends 'base.html.twig' %}

{% block title %}Chambre{% endblock %}

{% block body %}
<h1>Chambre</h1>
<div class="container text-center">
  <div class="row">
    <div class="col align-self-start">
      <img src="{{ asset('image/slider_1.webp')}}"  class="rounded " height="350" widght="250" >
    </div>
    <div class="col align-self-center">
      <h1>Chambre Classique</h1>
      <p>Profitez de nos chambre classique le temps d'une nuit pour faire une pause.</p>
      <p>20€/jour</p>
      <button><a href="{{ path('reservation') }}"><b>pour reserver</b></a></button>
    </div>
  </div>
  <div class="row">
    <div class="col align-self-center">
    <h1>Chambre Confort</h1>
    <p>Nos chambres confort sont spécialement pour donner pleinement satisfaction.</p>
     <p>40€/jour</p>
     <button><a href="{{ path('reservation') }}"><b>pour reserver</b></a></button>
    </div>
    <div class="col align-self-start">
      <img src="{{ asset('image/slider_2.webp')}}" class="rounded " height="350" widght="250">
    </div>
  </div>
  <div class="row">
    <div class="col align-self-start">
    <img src="{{ asset('image/slider_9.webp')}}" class="rounded " height="350" widght="250" >
    </div>
    <div class="col align-self-center">
      <h1>Chambre Suite</h1>
      <p>Nos suites sont à la fois spacieuse et lumineuse, n'hésitez plus!</p>
       <p>80€/jour</p>
       <button><a href="{{ path('reservation') }}"><b>pour reserver</b></a></button>
    </div>
  </div>
</div>


 



{% endblock %}