{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<h3>Contactez-nous pour toutes vos questions et écrivez votre avis </h3>
<div class="class container">
<div class="class boder-dark col-8 align-center">

    {{ form_start(form) }}
    
	{{ form_row(form.prenom) }}
	{{ form_row(form.nom ) }} 
	{{ form_row(form.email) }}
    {{ form_row(form.telephone) }}
	{{ form_row(form.categorie) }}
	{{ form_row(form.sujet) }}
    {{ form_row(form.votredemande) }}
	{{ form_row(form.avis) }}

	<button class="btn btn-primary col-12" type="submit">Envoyez </button>

	{{ form_end(form) }}

</div>
</div>




{% endblock %}